# Arquivos de saída gerados pelo Robot Framework
output.xml
log.html
report.html
debug.log

# Diretório de resultados 
results/
.results/

# Configurações do ambiente virtual 
venv/
.env/

# Arquivos de dependências
__pycache__/
*.pyc
*.pyo

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Logs gerais e temporários
*.log
*.tmp
*.bak

# Arquivos de IDEs 
.vscode/
.idea/
*.swp

# Arquivos de teste temporários
*.robot~
*.resource~
